{% extends 'base.html'%}

<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../../static/css/index.css" />
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 1%">
  <div class="row">
    <div class="col-md-4 pict">


      <div class="card testimonial-card">
        <div class="card-img">
          {% if user.profile_pic_path %}
          <img  src="{{url_for('static',filename=user.profile_pic_path)}}" style="height:300px;border-radius: 1%"
            class="card-img card" alt="woman avatar"><br>
          {%else%}
          <div><i class='fas fa-user-alt Personal_profile' style='font-size:100px;color: #584b53'></i></div>
          <div id="imgform">
            <form action="{{url_for('main.profile',name=user.username)}}" method="post" enctype="multipart/form-data">
              <input type="file" name="photo" class="form-control" required>
              <input type="submit" class="btn btn-sm btn-info" id="submit">
            </form>
          </div>

          {% endif %}
        </div>

        <div class="card-body card">
        {% if user.bio %}
          <p><i class="fas fa-quote-left"></i> {{user.bio}}</p>
          {%else%}
          {% endif %}
          {% if user == current_user %}
          <div class="profpic">
            <div class="text-centre" id="updates">
              <a href="{{url_for('main.updateprofile',name=user.username)}} " class="btn btn-primary">Update details</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-8 Personal_profile">
      <h2>Personal Details</h2>
      <table id="userTable" class="table table-bordered">
        <tr>
          <td>Username:</td>
          <td>{{user.username| capitalize}}</td>
        </tr>
        <tr>
          <td>Email Address:</td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td>Bio:</td>
          <td>{{user.bio}}</td>
        </tr>
        <tr>
          <td>Number of Blogs:</td>
          <td>{{user.blogs.count()}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container-fluid">
  <footer class="text-center text-white" style="background-color: ;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
        <!-- Github -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" href="https://github.com/albunus/Blog_website/" target="_blank">blogs@albunus.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
{% endblock %}