.card:hover{
    box-shadow: 0 0 10px , 0 0 20px rgb(112, 108, 108), 0 0 40px rgb(112, 108, 108);
    border-radius: 10px;
    background-color: white;
}

body {
    background-color: yellow;
  }
  nav {
    background-color: #1e6e05 !important;
    height: 8vh !important;
    padding-top: 1vh !important;
  }
  a {
    color: white !important;
    
  }