.card:hover{
    box-shadow: 0 0 10px , 0 0 20px rgb(112, 108, 108), 0 0 40px rgb(112, 108, 108);
    border-radius: 10px;
    background-color: rgb(186, 212, 196);
}

body {
    background-color: rgb(207, 207, 32);
    font-size: 20px;
  }
  nav {
    background-color: #1e6e05 !important;
    height: 8vh !important;
    padding-top: 1vh !important;
  }
  a {
    color: rgb(187, 25, 25) !important;
    
  }
  .Personal_profile{
      margin-left: 3rem;
  }
  .dropdown a ,.user {
    color: #e4bb97 !important;
  }
  @media (max-width: 1000px) {
    nav{
      height: auto !important;
    }
  }
  .dropdown-menu, .open {
    background-color: #520b36 !important;
    padding: 3px !important;
  }
  .text-centre, .testimonial-card {
    text-align: center;
    margin-top: 4rem !important;
  }
  .dropdown a:hover ,.user:hover {
    cursor: pointer;
  }
  .card-img img {
    border-radius: 50% !important;
  }
  nav a {
    color: #e4bb97 !important;
  }
  table {
    border: 1.5px solid #584b53 !important;
    
  }
  .first {
    background-image: url(https://images.unsplash.com/photo-1595113316349-9fa4eb24f884?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80);
    text-align: center;
    padding: 10% 20% 10% 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
  }
  #userTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #deleteForm {
    display: inline !important;
  }
  #comment {
    width: 100% !important;
    display: block;
  }
  
  #userTable td, #userTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #userTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #userTable tr:hover {background-color: #ddd;}
  
  #userTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .user{
      background-color: purple;
  }
  .quote {
    font-size: 20px;
    color: red;
    font-size: 20px;
  }
  .subscribe {
    color: green;
  }
  #subscribeForm {
    margin-top: 5%;
  }
  #post {
    border: 1.5px solid #fef5ef !important;
    border-radius: 30px 0px 30px 0px;
    background-color: purple;
    padding: 2rem;
    margin-left:  2rem;
  }
  h1 {
    text-align: center;
    color: #584b53;
  }
  .user-img {
    width: 2cm !important;
    height: 2cm !important;
    border-radius: 50% !important;
  }
  #userComment {
    margin-bottom: 2rem !important;
  }
  hr {
    background-color: #584b53 !important;
    height: 1.5px;
  }
  .all-blogs {
    padding: 2rem !important;
    border: 0.5rem solid #7c1a56 !important;
    height: 25vh !important;
    overflow-y: auto !important;
    background-color: rgb(62, 235, 128);
    font-size: 20px;
  }
  .user-blogs {
    padding: 2rem !important;
    border: 1.5px solid #584b53 !important;
    height: auto !important;
  }
  footer {
    color: purple;
  }
  footer a {
    color: #16149e !important;
  }
  @media (max-width: 500px) {
    .user-blogs, .all-blogs {
      height: auto !important;
    }
    

    .banner {
      height: auto;
      text-align: center;
      padding: 5%;
    }
  }