{% extends 'base.html' %}
{%block content%}
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="card">
            <div class="panel-body" >
            <blockquote class="blockquote mb-0 card-body">
                <p>{{quote.quote}}</p>
                <footer class="blockquote-footer">
                    <cite title="Source Title" style="color: green;" >{{quote.author}}</cite>
                    
                </footer>
                
              </blockquote>
            </div>
            

    </div>
</div>

{%endblock%}